html, body{
    padding:0;
    margin:0;
   
}

.menu{
    display:flex;
    position:fixed;
    width:100%;
    top:0;
    left: 0;
    background-color:grey;
}

.menu__logo{
    flex-grow: 1;
    background-color: green; 
    background-image: url("favicons/mstile-150x150.png");
    background-repeat: no-repeat;
    background-position: top left;
    background-size:80px;
}



.menu__list{
    display: flex;
    flex-grow: 5;
    justify-content: center;
    margin:0;
    padding:0;
    list-style-type: none;
}

.menu__logo, .menu__list-item{
    display:flex;
    flex-grow: 1;
    justify-content:center;
    align-items:center;
    color:#fff;
    text-decoration: none;
    height:50px;
}

.menu__list-item:hover{
    color:yellow;
}

.menu__list-item--active{
    color:red;
}
.menu__logo:hover{
    color:purple;
}

/* .menu__logo:visited{
    color:black; 
} */



@media (max-width:590px){
    .menu, .menu__list{
        flex-direction:column;
    }
}





/* sekcja hero */

.section__hero__container{
    display:flex;
    width:100%;
    height:100vh;
    background-image:url(images/image1.jpg);
    background-size:100% 100%;
    justify-content: center;
    align-items: center;
}
.section__hero__container__box{
    padding:10px;
    color:#2d3436;
    text-align: center;
    font-family:  'Lucida Sans';
    font-weight: bold;
    text-shadow: rgb(171, 171, 171) 1px 0px 0px, rgb(171, 171, 171) 0.540302px 0.841471px 0px, rgb(171, 171, 171) -0.416147px 0.909297px 0px, rgb(171, 171, 171) -0.989992px 0.14112px 0px, rgb(171, 171, 171) -0.653644px -0.756802px 0px, rgb(171, 171, 171) 0.283662px -0.958924px 0px, rgb(171, 171, 171) 0.96017px -0.279415px 0px;
}
.section__hero__container__box__text-1{
    padding:10px;
    font-size: 34px;
    text-transform: uppercase;
}
.section__hero__box__features-desc{
    padding:10px;
    font-size: 20px;
    text-align:top;
}
.section__hero__box__sign-in{
    font-size:25px;
    color:#2d3436;
    padding:10px;
    text-decoration: none;
    background-image: linear-gradient(#ff7675,#e9a3a3);
    border:1px solid #2d3436;
    border-radius: 6px;
    -webkit-box-shadow: 9px 10px 26px 4px rgba(0,0,0,0.75);
    -moz-box-shadow: 9px 10px 26px 4px rgba(0,0,0,0.75);
    box-shadow: 9px 10px 26px 4px rgba(0,0,0,0.75);
}
.section__hero__box__sign-in:hover{
    background-image: linear-gradient(#e9a3a3,#ff7675);
    color: #636e72;
}




.section__hero {
    margin-top: 20px;
}



/* .section-technology{
    margin:0 auto;
    width:500%;
    min-width: 200px;
} */


.section-technology{
    display:flex;
    /* justify-content: center;
    align-items:flex-start; */
    /* background-color: #ff7675; */
    padding:10px;
    margin:0;
    width: 100%;
    background: #636e72;
    
}

.section-technology__container{
    display:flex;
    /* justify-content: center;
    align-items:center; */
    background:whitesmoke; 
    padding:10px;
    margin:10px;
    box-sizing:border-box;
    border:5px solid gainsboro;
    border-radius: 10px;
    text-align: justify;
    
   
}

.section-technology__container-html{
    display:flex;
    flex-grow: 1;
    background-image: url(images/HTML5_logo.png);
    background-size: 30%;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    

} 
    

.section-technology__container-css{
    display:flex;
    flex-grow: 1;
    background-image: url(images/CSS3_logo.png);
    background-size: 30%;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}


.section-technology__container-js{
    display:flex;
    flex-grow: 1;
    background-image: url(images/JavaScript_logo.png);
    background-size: 20%;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}


 /* .section-technology__container-photo{ 
    width:100px;
    height:100px;
    margin:10px;
 } */
     





/* section-about-me__item--desciption{
    display: flex;
    flex-grow:1;
} */
















@media only screen and (max-width:576px){
    .menu, .menu__list{
    flex-direction:column;
    }
    .section__hero {
    margin-top: 310px;
    }
    .section-technology{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .section-technology__container{
        flex: 0 1 100%;
    }
    .section-technology__container-html{
        background-position: 50% 50%;
        background-size: 30%;
    }
    .section-technology__container-css{
        background-position: 50% 50%;
        background-size: 10%;
    }
    .section-technology__container-js{
        background-position: 50% 50%;
        background-size: 10%;
    }       




}